
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  background-color: #edf2f4;
  margin: 0;
}



a{
  color: #d90429;

}


h4{
  color: #2c2728;
  font-size: 20px;
  text-align: center;

}

h2{
  color: #d90429;
  font-size: 40px;
  text-align: center;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  height: 160px;
  width: 335px;
  background-color: #b70826;
  border-radius: 2px;
  padding-top: 0em;
  padding-left: 2.5%;
  display: inline-flex;
  margin: 2%;
  text-align: center;
  align-items: center;
  transition: top ease 0.5s;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.3s;
}

.card h1 {
  font-size: 9px;
  color: #fafafa;
  text-align: left;
  margin: 2px;
  text-transform: capitalize;
}

.card:hover {
  top: -10px;
  background-color: #d90429;
  color: #ffffff;
  text-decoration: none;
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);

}

.cuadro {
  background-color: #fff;
  border-radius: 5px;
 
}

.Search {
 
  animation: 1s ease-out 0s 1 slideInFromLeft;
  text-align: right;
  height: 30px;
  width: 659px;
  padding-right: 7px;
 
}

.imagevotos{
  height: 90%;
  border-radius: 6px;
}

.Search input {
  

 margin-top: -7px;
  border-radius: 6.5px;
  text-transform: capitalize;
  text-align: left;
  height: 32px;
  width: 439px;
  left: 23px;
 
  
}


.input {
 
  animation: 1s ease-out 0s 1 slideInFromLeft;
  text-align: right;
  height: 30px;
  width: 659px;
  padding-right: 7px;
 
}
.Search select {
  

  margin-top: -7px;
   border-radius: 6.5px;
   text-transform: capitalize;
   text-align: left;
   height: 32px;
   
   left: 23px;
  
   
 }
 .Ima {
  width: 120%;
}
.Ima2 {
  width: 46%;
  margin: 1em;
}

 .jeanoviedo {
  width: 37%;
}
.container {
  display: flex;
  margin: 4em;
}
.left {
  margin: 10px;
  width: 50%;
  padding: 20px;
}

.right {
  margin: 10px;
  width: 45%;
 margin-top: 145px;
  border-radius: 9px;
  padding: 1em;
font-size: 35px;
color: #d90429;
}


.izquierda  {
  margin: 10px;
  width: 60%;
  background-color: #d90429;
  border-radius: 9px;
  text-align: center;
}

.derecha {
  margin: 10px;
  width: 30%;
 background-color: #d90429;
  border-radius: 9px;
  padding: 1em;
font-size: 35px;
color: #ffffff;

}

.Search2 {
  display: none;
}

.derecha  h1{
  font-size: 15px;
}

.derecha  p{
  font-size: 14px;
}

 .general {
  color: #d90429;
  padding: 35px;
  overflow: hidden;
  height: 200%;
  height: 580px;
  align-items: center;
  text-align: center;
}
.genaral a{
  color: #da2745;
}

.buscarboton {
  margin-top: -5px;
  width: 101px;
  height: 37px;
  text-align: center;
  border-style: none;
  cursor: pointer;
  background-color:  #edf2f4;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 3.5px;
  margin: 3px;
 
}

.boton {
  margin-top: -5px;
  width: 201px;
  height: 39px;
  text-align: center;
  border-style: none;
  cursor: pointer;
  background-color:  #d90429;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 3.5px;
  margin: 3px;
 
}

.boton:hover {
  background-color:  #b70826; 
}

.buscarboton2 {
  margin-top: -5px;
  width: 101px;
  height: 37px;
  text-align: center;
  border-style: none;
  cursor: pointer;
  background-color: #b70826;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 6.5px;
  margin: 3px;
  border: solid 4px rgb(14, 1, 29);
}


.buscarboton:hover {
  background-color: #b70826;
}

.load {
  width: 30%;
  color: white;

}
.buscarboton:disabled {
  background-color: #2b1f3a;
  cursor:not-allowed;
}


.modal {

  text-align: center;
  margin: 2px;

  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  top: 20%;
  left: 27%;
  width: 40%; /* Full width */
  height: 70%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  border: 2px;
  border-radius: 1em;
  opacity: 98%;
  text-transform: capitalize;
  border-radius: 6.5px;
 
}

.card-image2 {
  width: 70px;
  height: 70px;
  margin:2px;
  text-align: center;
  text-decoration: none;
}

.card-image3 {
  width: 40%;
}
.modal h1 {
  font-size: 16px;
}
.paginado {
  text-align: center;
}

.navbar {
  display: flex;
  padding: 5px;
  background-color: #d90429;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
 
}

.logo {
  width: 60%;
  position: relative;
  left: 40px;
  top: 2px;
}

.logodiv {
  width: 20%;
}

.menu {
  display: flex;
  padding: 2px;
 
}


.menu li {
  list-style: none;
  margin: 0.3em;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: #b70826;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.1em;
  z-index: 2;
  padding: 8px;

}

.card-image2.menu .active {
  color: #67696b;
}

.menu a:hover {
  background-color: #b70826;
  color: #ffffff;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.1em;
  z-index: 2;
  padding: 14px;
}


.footer {
  background-color: #d90429;
  color: white;
  padding: 35px;
  overflow: hidden;
  height: 200%;
  height: 200px;
}

.equipo {
  width: 15%;
  margin: 2px;
  
}


.jugador {
  width: 85%;
  margin: 2px;
  
 
  
}
.ico {
  width: 30px;
  height: 30px;
  margin: 7px;
  cursor: pointer;
}


.footer a {
  color: #ffffff;
}

.footer p {
  color: #ffffff;
  font-size: 88%;
}


@media only screen and (max-width: 800px) {


  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.imagevotos{
height: 40%;
}
  .navbar {
    
    padding: 3px;
    background-color: #d90429;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 100;
  
    text-align: left !important;
    display:inline-block;
    width: 100%;
   
  }

  .navbar li {
    
    text-align: center;
  }

  .logo {
    
    width: 99%;
    position:static;
    left: 40px;
    top: 2px;
    text-align: center;
    
}
.logodiv {
  width: 29%;
  text-align: center;
  display: inline-block;
  height: 50%;
  height: 100%;
}


.menu {
  text-align: center !important;
    font-size: 13px;
    margin: 10px;
    width: 50%;
  }
.logoder{
 height: 100%;
 text-align: center !important;

 
}

.buscarboton {
 font-size: 14px;
}
.container {
  display: inline-block;
  align-items: center; 
  justify-content: center;
  text-align: center;
  width: 95%;
  margin: 1px;
}

.Ima {
  width: 190%;
}

.right {
 
  margin: 2px;
  width: 100%;
  border-radius: 9px;
  padding: 0em;
  font-size: 15px;
  color: #d90429;
  text-align: center;
}


.Search {
  
  display: none;
}

.Search2 {
  text-align: left;
  margin: 2px;
  width: 100%;
 
  border-radius: 9px;
  padding: 0em;
  font-size: 15px;
  color: #d90429;
  
  display: inline-block;
  
}

 .input {
  width: 95%;
    height: 31px;
  
}

.Search2 input {
  width: 95%;
    height: 31px;
  
}

.izquierda {
  width: 100%;
}

.derecha {
  width: 88%;
}
.derecha h2 {
  font-size: 18px;
}
.left {
  margin: 2px;

  border-radius: 9px;
  padding: 1em;
  font-size: 20px;
  color: #d90429;
  text-align: center;
  
}


.footer {
  background-color: #d90429;
   
    padding: 0px;
    overflow: hidden;
    width: 100%;
    font-size: 15px;
    height: 100%;
    align-items: center;
    text-align: center;
    display: inline-block;
  display: inline-block;
}

.footer p {
  padding: 10px;
  margin: 2em;
  color: white;
}

.footer2 {
  padding: 10px;
  margin: 2em;
  color: white !important;
}

.footer2 h2 {
  color: white !important;
}
.paginado {
  text-align: center;
  top: 20px;
  padding-top: 50px;
}

.paginado {
  margin: 1px;
  align-items: center;
  text-align: center;
}

.modal {
  background-color: #fff;
  border: 2px;
  border-radius: 1em;
  border-radius: 6.5px;
  height: 91%;
  left: 0;
  margin: -1px;
  opacity: 98%;
  overflow: none;
  position: fixed;
  text-transform: capitalize;
  top: 4%;
  width: 108%;
  z-index: 100;
}

.card {
  height: 100%;
  width: 90%;
  background-color: #e5e2e2;
  border-radius: 2px;
  padding-top: 0em;
  padding-left: 2.5%;
  display: inline-flex;
  margin: 2%;
  text-align: center;
  align-items: center;
  transition: top ease 0.5s;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.3s;
}


.jeanoviedo {
  width: 77%;
}
.general {
  color: white;
  padding: 15px;
  overflow: hidden;
  width: 90%;
  align-items: center;
  text-align: center;
}

}
















